{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: #fff;margin-top: 40px;padding: 40px;margin-bottom: 20px;">
        <h3>Sign In</h3>
        <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Sign In</button>
        </form>
        <div class="card-footer text-muted text-center">
            Don't have an account? <a href="{% url 'signup' %}">Sing up</a>
        </div>
    </div>
{% endblock %}