{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
     Password changed successfully
{% endblock %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'change_password' %}">Chnge Password</a></li>
    <li class="breadcrumb-item active">Success</li>
{% endblock %}


{% block content %}
    <div class="alert alert-success" role="alert">
        Your password has been changed:)
    </div>
    <a href="{% url 'index' %}">Return to home page</a>
{% endblock %}
